<p style="color: green"><%= notice %></p>

<h1 class='text-center'>Buses</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @buses.each do |bus| %>
    <%= render bus %>
  <% end %>
</div>

<% if can? :create, Bus %>
 <%= link_to "new bus", new_bus_path, :class => "btn btn-secondary my-5" %>
<% end %>









