<h1 class='text-center'>New bus</h1>

<%= render "form", bus: @bus %>

<br>

<div class="d-flex justify-content-center">

  <%= link_to "Back to buses", buses_path , :class => "btn btn-primary " %>
</div>
